<article class="card border-0 rounded-0 pb-4 border-light border-opacity-25 border-bottom">
  <div class="row g-0 position-relative">
    <div class="col-5 position-relative">
      <img src="{{ photoCover }}" class="position-absolute w-100 h-100 object-fit-cover" alt="picture for example">
    </div>
    <div class="col-7">
      <div class="card-body py-0">
        <p class="small text-secondary">{{ cardDate }}</p>
        <h5 class="card-title fw-bold">{{ cardTitle }}</h5>
        <p class="card-text small text-secondary">{{ cardDescription }}</p>
      </div>
    </div>
    <a [routerLink]="['content', id]" class="stretched-link"></a>
  </div>
</article>
