<app-menu-bar></app-menu-bar>

<main id="blog-title" class="py-0">
  <app-menu-title></app-menu-title>
</main>

<section id="section-posts" class="pt-5">
  <div class="container">
    <div class="justify-content-center row g-5">
      <div class="col-md-6">
        <app-big-card></app-big-card>
      </div>
      <div class="col-md-6 d-flex flex-column gap-3">
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
      </div>
    </div>
  </div>
</section>
