<app-menu-bar></app-menu-bar>

<main id="blog-title" class="py-0">
  <app-menu-title></app-menu-title>
</main>

<section id="section-posts" class="pt-5">
  <div class="container">
    <div class="justify-content-center row g-5">
      <div class="col-lg-6">
        <app-big-card
        [id]="mainPub.id"
        [photoCover]="mainPub.photoCover"
        [photoLegend]="mainPub.photoLegend"
        [cardDate]="mainPub.date"
        [cardTitle]="mainPub.title"
        [cardDescription]="mainPub.description"
        ></app-big-card>
      </div>
      <div class="col-lg-6 d-flex flex-column gap-3">
        <app-small-card
        *ngFor="let pub of pubs"
        [id]="pub.id"
        [photoCover]="pub.photoCover"
        [cardDate]="pub.date"
        [cardTitle]="pub.title"
        [cardDescription]="shortenString(pub.description, 20)"
        ></app-small-card>
      </div>
    </div>
  </div>
</section>
