<article class="card border-0 position-relative">

  <div class="card-header p-0">
    <img src="{{ photoCover }}" alt="{{ photoLegend }}" class="mb-3 img-fluid">
    <legend class="small text-center text-secondary mb-3">< {{ photoLegend }} ></legend>
  </div>

  <div class="card-body p-0">
    <p class="small text-secondary mb-3"> {{ cardDate }} </p>
    <h2 class="fw-bold mb-3">{{ cardTitle }}</h2>
    <p class="text-secondary">{{ cardDescription }}</p>
  </div>

  <a [routerLink]="['content', id]" class="stretched-link" aria-label="Link to any page"></a>

</article>
